body{

font-family:Arial;
margin:0;
background:#f4f6fb;

}

header{

display:flex;
justify-content:space-between;
padding:15px;
background:white;

}

.hidden{
display:none;
}

.dashboard{

display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:10px;

}

.box{

background:white;
padding:15px;
border-radius:10px;
text-align:center;

}

.saldo{

text-align:center;
padding:20px;

}

.card{

background:white;
margin:10px;
padding:15px;
border-radius:10px;

}

input,select,button{

width:100%;
padding:10px;
margin-top:8px;

}

.dark{

background:#0f172a;
color:white;

}
